@model ProjetStudeal_Final.Startup

@{
    ViewData["Title"] = "Index";
}

<h2>Accueil</h2>

<div>
    <h4>Ouverture de session</h4>
    <hr />
</div>
<div>

    <a asp-action="Index">Accueil</a>
</div>

    //affichage du formulaire
    [HttpGet]
    [ActionName("Create")]
    public IActionResult CreateMember()
    {
        return View();
    }
    //affichage du formulaire
    [HttpGet]

    public IActionResult Create(int id)
    {
        Membre m = DBStudeal.Membre.Find(id);
        return View(s);
    }

    //traitement du formulaire
    [HttpPost]
    [ActionName("Create")]
    public IActionResult CreateStudent([Bind(include: "LastName, FirstMidName, EnrollmentDate")]Student s)
    {

        if (ModelState.IsValid)
        {
            context.Add(s);
            context.SaveChanges();
            return RedirectToAction("Index");
        }
        else
        {
            return View();
        }
    }


